<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <title> Проверка баланса </title>
  <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<body th:style="'background-image: url(/img/bg.png)'">
  <p>В какой форме вы хотите увидеть свой баланc?</p>
  <form th:action="@{/showbalance}" method="get"><button class="button purple">
      <div>Показать баланс на экране</div>
    </button></form>
  <form th:action="@{/printbalance}" method="get"><button class="button purple">
      <div>Распечатать на чеке</div>
    </button></form>
</body>

</html>