<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <title> Главная страница </title>
</head>

<body>
  <p>Здравствуйте,<span th:value="${user.firstName}"/> ! Вы успешно вошли в свой банковский аккаунт. Выберите нужное действие:</p>
  <a th:href="@{newbill}"><div>Открыть новый счет</div></a>
  <a th:href="@{newtransfer}"><div>Перевести деньги</div></a>
  <a th:href="@{withdraft}"><div>Снять деньги</div></a>
  <a th:href="@{newdeposit}"><div>Пополнить баланс</div></a>
  <a th:href="@{checkbalance}"><div>Показать баланс</div></a>
</body>

</html>