<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <title> Открыть новый счет </title>
  <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<body th:style="'background-image: url(/img/bg.png)'">
<form>
  <p>Выберите тип счета:</p>
  <select name="select" size="2" multiple>
    <option selected value="s1">Дебетовый</option>
    <option value="s2">Кредитный</option>
  </select>
  <p>Выберите валюту счета:</p>
  <select name="select" size="3" multiple>
    <option selected value="s1">Рубль</option>
    <option value="s2">Доллар</option>
    <option value="s3">Евро</option>
  </select>
</form>
<form th:action="@{/newbill}" method="post">
  <button class="button purple"><div>Открыть новый счет!</div></button>
</form>
</body>

</html>