<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <title> Пополнение баланса </title>
  <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<body th:style="'background-image: url(/img/bg.png)'">
<p>Внесите купюры в купюроприемник:</p>
<form class="form" th:action="@{/newdeposit}" method="post">
  <label> <input type="text" name="balplus" /> </label>
  <div><input class="button purple inp" type="submit" value="Пополнить" /></div>
</form>
</body>

</html>