<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <title> Новый перевод</title>
  <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<body>
<p>Введите реквизиты:</p>
<form th:action="@{/newtransfer}" method="post">
  <div><label> Реквизиты : <input type="text" name="username" /> </label></div>
  <div><label> Сумма: <input type="text" name="password" /> </label></div>
  <div><input class="button purple" type="submit" value="Отправить" /></div>
</form>
</body>

</html>