<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <title> Новый перевод</title>
  <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<body th:style="'background-image: url(/img/bg.png)'">
<p>Введите реквизиты:</p>
<form class="form" th:action="@{/newtransfer}" method="post">
  <label> Реквизиты : <input type="text" name="username" /> </label>
  <label> Сумма: <input type="text" name="password" /> </label>
  <div><input class="button purple" type="submit" value="Отправить" /></div>
</form>
</body>

</html>