<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <title>Зарегистрироваться</title>
  <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<body th:style="'background-image: url(/img/bg.png)'">
  <div th:if="${message}">
    <div th:text="${message}"></div>
  </div>
    <form class="form" th:action="@{/registration}" th:object="${newCustomer}" method="post">
      <div class="reg">
        <div><label> Имя : <input type="text" name="firstName" required /> </label></div>
        <div><label> Фамилия : <input type="text" name="lastName" required /> </label></div>
        <div><label> Номер телефона : <input type="tel" name="phone" required /> </label></div>
        <div><label> Email : <input type="email" name="email" required /> </label></div>
        <div><label> Пароль: <input type="password" name="password" required /> </label></div>
      </div>
      <div class="registration"><input class="button purple inp" type="submit" value="Зарегистрироваться" /></div>
    </form>
</body>

</html>