<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">\

<head>
  <title>Spring Security Example </title>
</head>

<body>
  <div th:if="${message}">
    <div th:text="${message}"></div>
  </div>
  <form th:action="@{/registration}" th:object="${newCustomer}" method="post">
    <div><label> FirstName : <input type="text" name="firstName" /> </label></div>
    <div><label> LastName : <input type="text" name="lastName" /> </label></div>
    <div><label> Phone : <input type="text" name="phone" /> </label></div>
    <div><label> Email : <input type="text" name="email" /> </label></div>
    <div><label> Password: <input type="password" name="password" /> </label></div>
    <div><input type="submit" value="Зарегистрироваться" /></div>
  </form>
</body>

</html>