<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <title> Ошибка </title>
  <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<body>
<p>Недостаточно средств на счете!</p>
<form th:action="@{/withdraft}" method="get">
  <button>Попробовать снова</button>
</form>
<form th:action="@{/main}" method="get">
  <button class="button purple">Вернуться в главное меню</button>
</form>
</body>

</html>